<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Queseek</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Seekers Of Lost Items. Builders of community spirit."/>
    <meta name="keywords" content="queseek, lost and found, community spirit"/>
    <meta name="author" content="Queseek"/>

    <!--Fonts Used-->
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300'>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Oswald'>

    <!-- Bootstrap  --><!--Affects padding and search bar-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <!--affects tables-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css')}}">
    <!--affects everything else-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <script src="{{url_for('static', filename='js/table.js')}}"></script>

    <!--for faq-->
    <script src="{{url_for('static', filename='js/modernizr.js')}}"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!--<script src="{{url_for('static', filename='js/jquery-2.1.1.js')}}"></script>-->
    <!--<script src="{{url_for('static', filename='js/jquery.mobile.custom.min.js')}}"></script>-->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>


</head>

<body>

<script>



</script>


<div id="topbar-wrapper">

    {% include "base/topbar.html" %}

    <div class="topbar-cover2">
        <div class="desc">

            <h1>PROFILE</h1>
            <section class="cd-faq">

                <div class="cd-faq-categories">

                    {% if page == 'points_system' %}
                    <a href="{{url_for('faq_general')}}">General</a>
                    <a class="active" href="{{url_for('faq_points_system')}}">Points System</a>
                    <a href="{{url_for('faq_seekers')}}">Seekers</a>

                    {% elif page == 'seekers' %}
                    <a href="{{url_for('faq_general')}}">General</a>
                    <a href="{{url_for('faq_points_system')}}">Points System</a>
                    <a class="active" href="{{url_for('faq_seekers')}}">Seekers</a>

                    {% else %}
                    <a class="active" href="{{url_for('faq_general')}}">General</a>
                    <a href="{{url_for('faq_points_system')}}">Points System</a>
                    <a href="{{url_for('faq_seekers')}}">Seekers</a>


                    {% endif %}
                </div>
                <!--<div class="cd-faq-items">-->
                <ul class="cd-faq-group">

                    {% if page == 'points_system' %}

                    <ul id="points" class="cd-faq-group">
                        <div class="cd-faq-title"><h2>Point System</h2></div>

                        <a class="cd-faq-trigger" href="#0">Quests:</a>
                        <div class="cd-faq-content">
                            <h7>Hero Quests: (20 coins per post) -Limited to 3 posts of lost item(s) per user
                                <br>Side Quests: (5 coins)- Eg: Errands such as printing notes / Collab
                                <br>There are three levels of quests and this will affect the order the Quests
                                are displayed on the Quest Home page. All quests are posted based on the time it
                                was submitted (i.e. Most recent to older posts). The level 3 will be displayed
                                at the top while level 2 and level 1 below it.
                                <br>*Level is dependent on the user who posts the quests. For Level 2 and 3 the
                                user who post the quests will need to contribute their points according to the
                                surplus of the level.


                                Example:
                                <br>Level 1 - 20 coins from system
                                <br>Level 2 - 20 coins from system and 10 coins from the user.
                                <br>Level 3 - 20 coins from system and 20 coins from the user.

                            </h7>

                        </div> <!-- cd-faq-content -->


                        <a class="cd-faq-trigger" href="#0">Featured Quests: </a>
                        <div class="cd-faq-content">
                            <h7>
                                (Additional 5 coins on top of the existing points for the quests)
                                <ul style="list-style-type: circle">
                                    <li>Only limited to users based on the Top 20% weekly coins ranking.</li>
                                    <li>Each user can only attempt up to 3 featured quests in a week.</li>
                                    <li> First 5 users to complete the featured quest will get 5 coins, the next 5
                                        will get 0.5x (2.5 coins)
                                    </li>
                                </ul>

                            </h7>
                        </div> <!-- cd-faq-content -->


                        <a class="cd-faq-trigger" href="#0">Bonus points:</a>
                        <div class="cd-faq-content">
                            <h7>Uses who managed to hit these goals will get additional points.
                            </h7>
                        </div> <!-- cd-faq-content -->
                        </li>
                    </ul>

                    {% elif page == 'seekers' %}
                    <ul id="seekers" class="cd-faq-group">
                        <div class="cd-faq-title"><h2>Seekers</h2></div>

                        <a class="cd-faq-trigger" href="#0">What can I do with the coins? </a>
                        <div class="cd-faq-content">
                            <h7>Users can use the accumulated coins that they received from completing the quests
                                for the following purpose:
                                <ul style="list-style-type: circle;">
                                    <li>The coins earned will help the user to level up. At a higher level, the user
                                        will have access to more quests.
                                    </li>
                                    <li>They can unlock a new avatar.</li>
                                    <li>The points can be used to change the level of the quests that the users
                                        posted.
                                    </li>
                                </ul>


                            </h7>
                        </div> <!-- cd-faq-content -->


                        <a class="cd-faq-trigger" href="#0">Where can I check the quests that I have
                            accepted?</a>
                        <div class="cd-faq-content">
                            <h7>Seekers can go to their profile page and under it will show a list of quests that
                                they have previously accepted.
                            </h7>
                        </div> <!-- cd-faq-content -->


                        <a class="cd-faq-trigger" href="#0">How should I verify the lost item(s) with the
                            rightful owner?</a>
                        <div class="cd-faq-content">
                            <h7>In the event of a meetup, the rightful owner should either have a prove of
                                identification that the item belongs to him/her or the description of the lost
                                item(s) provided by the seekers should accurately matched with the information
                                given by the owner of lost item(s).
                            </h7>
                        </div> <!-- cd-faq-content -->


                        <a class="cd-faq-trigger" href="#0">How do I earn coins?</a>
                        <div class="cd-faq-content">
                            <h7>Users can earn points by completing the different types of quests.
                                Users can also earn point by sharing the post.
                                Refer to the above-mentioned point systems to know the full details on how the
                                points are rewarded.
                            </h7>
                        </div> <!-- cd-faq-content -->


                        <a class="cd-faq-trigger" href="#0">What is a Leaderboard?</a>
                        <div class="cd-faq-content">
                            <h7>Ranking
                                <ul style="list-style-type: circle;">
                                    <li>The weekly ranking is only for the top 20 users where the user who
                                        accumulates the most coins will be given the title of “Grandmaster” and the
                                        rest if users will be given the title of “Treasure hunters”.
                                    </li>
                                    <li>The monthly ranking is for the top 50 users (and the same goes with the
                                        weekly ranking)
                                    </li>
                                    <li>All-time titles: Refer to the Badge System below</li>
                                </ul>

                            </h7>
                        </div> <!-- cd-faq-content -->


                        <a class="cd-faq-trigger" href="#0">Badge System</a>
                        <div class="cd-faq-content">
                            <h7>Users can earn points by completing the different types of quests.
                                Users can also earn point by sharing the post.
                                Refer to the above-mentioned point systems to know the full details on how the
                                points are rewarded.
                            </h7>
                        </div> <!-- cd-faq-content -->
                    </ul>
                    {% else %}
                    <ul id="general" class="cd-faq-group">
                        <div class="cd-faq-title"><h2>General</h2></div>

                        <a class="cd-faq-trigger" href="#0">What is QueSeek?</a>
                        <div class="cd-faq-content">
                            <h7>Queseek is a platform that builds a community of people by completing different
                                types of quests together.
                            </h7>
                        </div> <!-- cd-faq-content -->


                        <a class="cd-faq-trigger" href="#0">What are the different types of quests and
                            seeks?</a>
                        <div class="cd-faq-content">
                            <h7>There are two types of quests: Hero Quests and Side Quests.
                                <br>
                                Hero Quests are quest posted by people who have reported their item as lost.
                                <br>
                                Side Quests are interactive mini-games that users can take part in to earn some
                                bonus points. The two type of side quests are Collaborative based and Community
                                based.
                                <br>
                                <ul style="list-style-type:disc">
                                    <li>Collaborative Based: Companies & Administrators posts quests such as finding
                                        QR code around campus.
                                    </li>
                                    <li>Community Based: Helping other students to run errands in school such as
                                        printing lecture notes or buying takeaways.
                                    </li>
                                </ul>

                                <br>
                                Seek are the list of founded items that have been reported to the system.
                            </h7>
                        </div> <!-- cd-faq-content -->


                        <a class="cd-faq-trigger" href="#0">What are featured quests?</a>
                        <div class="cd-faq-content">
                            <h7>They are quests that have been featured by the moderators of Queseek. These
                                quests are usually available for a limited time only as a collaborations with
                                other organisation or for an event. Featured quests will have bonus points
                                available for uses to earn.
                            </h7>
                        </div> <!-- cd-faq-content -->


                        <a class="cd-faq-trigger" href="#0">I have lost my belonging, what should I do?</a>
                        <div class="cd-faq-content">
                            <h7>Firstly, users can browse through the Seek reported to see if their item have
                                already been found by others are are already reported on the website. If the
                                user can’t find any listing of their item, they can post a Quest report.
                                <br>Simply click on the “Report your lost item” button on the right hand side of
                                the page to submit a report.
                            </h7>
                        </div> <!-- cd-faq-content -->


                        <a class="cd-faq-trigger" href="#0">I found a item in school, what should I do?</a>
                        <div class="cd-faq-content">
                            <h7>Simply click on the “Report a seek” button on our home page, fill up the form and
                                submit it!
                                Fill up the basic information of the item you found and double check with the
                                owner for the specific information such as “What cards are in the wallet?”
                                before returning it to the owner. If you are not available to meet up with the
                                owner, you may pass the item to the security counter of the school.
                            </h7>
                        </div> <!-- cd-faq-content -->

                    </ul>
                    {% endif %}


                </ul>

                <a href="#0" class="cd-close-panel">Close</a>
            </section> <!-- cd-faq -->


        </div>
    </div>

</div>
<!-- END topbar-page -->

</div>
<!-- END topbar-wrapper -->

</body>
</html>