<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Queseek</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Seekers Of Lost Items. Builders of community spirit."/>
    <meta name="keywords" content="queseek, lost and found, community spirit"/>
    <meta name="author" content="Queseek"/>

    <!--Fonts Used-->
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300'>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Oswald'>

    <!-- Bootstrap  --><!--Affects padding and search bar-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <!--affects tables-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css')}}">
    <!--affects everything else-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <script src="{{url_for('static', filename='js/table.js')}}"></script>

    <!--for faq-->
    <script src="{{url_for('static', filename='js/modernizr.js')}}"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


</head>

<body>


<div id="topbar-wrapper">

    {% include "base/topbar.html" %}

    <div class="topbar-cover2">
        <div class="desc">

            <section class="cd-faq">

                <div class="cd-faq-categories">

                    {% if page == 'sq' %}
                    <a href="{{url_for('hero_quests')}}">Hero Quests</a>
                    <a class="active" href="{{url_for('side_quests')}}">Side Quests</a>

                    {% else %}
                    <a class="active" href="{{url_for('hero_quests')}}">Hero Quests</a>
                    <a href="{{url_for('side_quests')}}">Side Quests</a>


                    {% endif %}
                </div>
                <!--<div class="cd-faq-items">-->
                <ul class="cd-faq-group">

                    {% if page == 'sq' %}
                    <div class="cd-faq-title"><h2>Side Quests</h2></div>
                    {% else %}
                    <div class="cd-faq-title"><h2>Hero Quests</h2></div>
                    {% endif %}

                    <select class="form-control" name="state" id="maxRows">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>

                    <div class="row">

                        <table id="datatable" class="display dataTable no-footer" cellspacing="0"
                               width="100%" role="grid"
                               aria-describedby="datatable_info">

                            <thead>
                            <tr role="row">
                                <th style="width: 40px;" class="sorting_desc" tabindex="0"
                                    aria-controls="datatable" rowspan="1"
                                    colspan="1" aria-sort="descending"
                                    aria-label="REWARD: activate to sort column ascending">REWARD
                                </th>
                                <th style="width: 80px;" class="sorting" tabindex="0"
                                    aria-controls="datatable" rowspan="1"
                                    colspan="1"
                                    aria-label="QUEST ID: activate to sort column ascending">
                                    QUEST ID
                                </th>
                                <th style="width: 80px;" class="sorting" tabindex="0"
                                    aria-controls="datatable" rowspan="1"
                                    colspan="1"
                                    aria-label="ITEM: activate to sort column ascending">ITEM
                                </th>
                                <th style="width: 200px;" class="sorting" tabindex="0"
                                    aria-controls="datatable" rowspan="1"
                                    colspan="1"
                                    aria-label=" DESCRIPTION: activate to sort column ascending">DESCRIPTION
                                </th>
                                <th style="width: 80px;" class="sorting" tabindex="0"
                                    aria-controls="datatable" rowspan="1"
                                    colspan="1"
                                    aria-label="USER: activate to sort column ascending">USER
                                </th>
                                <th style="width: 50px;" class="sorting" tabindex="0"
                                    aria-controls="datatable" rowspan="1"
                                    colspan="1"
                                    aria-label="DATE POSTED: activate to sort column ascending">DATE POSTED
                                </th>


                            </tr>
                            </thead>
                            <tbody>


                            {% for row in rows %}

                            <tr role="row" class="odd">
                                <!--Reward-->
                                <td>{{ row[1].reward }}</td>
                                <!--Quest/SeekID-->
                                {% if page == 'sq' %}
                                <td><a href='/quest/{{row[1].questId}}'>{{ row[1].questId}}</a></td>
                                {% else %}
                                <td><a href='/quest/{{row[1].questId}}'>{{ row[1].questId}}</a></td>
                                {% endif %}
                                <!--Item-->
                                <td>{{ row[1].item }}</td>
                                <!--Description-->
                                <td>{{ row[1].description }}</td>
                                <!--Username-->
                                <td>{{ row[0].username }}</td>
                                <!--Posted At-->
                                <td>{{ row[1].posted_at.strftime('%d/%m/%Y %I:%M %p') }}</td>

                            </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot></tfoot>
                        </table>
                        <div>
                            <nav>
                                <ul class="pagination"></ul>
                            </nav>
                        </div>
                    </div>


                </ul>

                <div class="inlineblock">{% include "base/button.html" %}</div>

                <!--Your Quests-->

                <a href="#0" class="cd-close-panel">Close</a>
            </section> <!-- cd-faq -->


        </div>
    </div>

</div>
<!-- END topbar-page -->

</div>
<!-- END topbar-wrapper -->

</body>
</html>