<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Queseek</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Seekers Of Lost Items. Builders of community spirit."/>
    <meta name="keywords" content="queseek, lost and found, community spirit"/>
    <meta name="author" content="Queseek"/>

    <!--Fonts Used-->
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300'>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Oswald'>

    <!-- Bootstrap  --><!--Affects padding and search bar-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <!--affects tables-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css')}}">
    <!--affects everything else-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <script src="{{url_for('static', filename='table.js')}}"></script>
    <!--<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->

    <!--<![endif]&ndash;&gt;-->

</head>

<body>

<script>
    $(document).ready(function () {
  getPagination('#datatable');
  $('#maxRows option:last').prop('selected', true).trigger('change');
});

function getPagination(table) {

  $('#maxRows').on('change', function(e) {
    $('.pagination').html(''); // reset pagination
    var trnum = 0; // reset tr counter
    var maxRows = parseInt($(this).val()); // get Max Rows from select option
    var totalRows = $(table + ' tbody tr').length; // numbers of rows
    $(table + ' tr:gt(0)').each(function() { // each TR in  table and not the header
      trnum++; // Start Counter
      if (trnum > maxRows) { // if tr number gt maxRows

        $(this).hide(); // fade it out
      }
      if (trnum <= maxRows) {
        $(this).show();
      } // else fade in Important in case if it ..
    }); //  was fade out to fade it in
    if (totalRows > maxRows) { // if tr total rows gt max rows option
      var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
      //	numbers of pages
      for (var i = 1; i <= pagenum;) { // for each page append pagination li
        $('.pagination').append('<li class"wp" data-page="' + i + '">\
<span>' + i++ + '<span class="sr-only">(current)</span></span>\
</li>').show();
      } // end for i
    } // end if row count > max rows
    $('.pagination li:first-child').addClass('active'); // add active class to the first li
    $('.pagination li').on('click', function() { // on click each page
      var pageNum = $(this).attr('data-page'); // get it's number
      var trIndex = 0; // reset tr counter
      $('.pagination li').removeClass('active'); // remove active class from all li
      $(this).addClass('active'); // add active class to the clicked
      $(table + ' tr:gt(0)').each(function() { // each tr in table not the header
        trIndex++; // tr index counter
        // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
        if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
          $(this).hide();
        } else {
          $(this).show();
        } //else fade in
      }); // end of for each tr in table
    }); // end of on click pagination list


  });

  // end of on select change



  // END OF PAGINATION
}


</script>

<div id="topbar-wrapper">

    {% include "base/topbar.html" %}

    <div class="topbar-overlay"></div>
    <div class="topbar-cover2">
        <div class="desc">
            <div class="container">

                <div class="col-sm-1 col-sm-push-1 col-md-1 col-md-push-1">
                    <div class="post">
                        <br>
                        <!--Reward-->
                        <div class="formtitleformat">Reward</div>
                        <div class="formlabelformat">{{ quests[1].reward }}</div>
                        <br>
                        <!--Quest-->
                        <div class="formtitleformat">QuestID</div>
                        <div class="formlabelformat">{{ quests[1].questId }}</div>
                        <br>
                        <!--Item-->
                        <div class="formtitleformat">Item</div>
                        <div class="formlabelformat">{{ quests[1].item }}</div>
                        <br>
                        <!--Description-->
                        <div class="formbigfieldformat">Description</div>
                        <div class="formlabelformat">{{ quests[1].description }}</div>
                        <br>
                        <!--User-->
                        <div class="formtitleformat">User</div>
                        <div class="formlabelformat">{{ quests[0].username }}</div>
                        <br>
                        <!--Posted-->
                        <div class="formtitleformat">Posted At</div>
                        <div class="formlabelformat">{{ quests[1].posted_at.strftime('%d/%m/%Y %I:%M %p') }}</div>
                        <br>
                        <!--Users that completed-->
                        {% if userscompleted|length > 0 %}
                        <div class="formautofield">Completed By</div>
                        {% for row in userscompleted %}
                        <div class="formnameformat">{{ row[1].username }}</div>

                        {% if not loop.last %}
                        <div class="formnameformat">,</div>
                        {% else %}
                        <div class="formnameformat">.</div>
                        {% endif %}

                        {% endfor %}
                        <br>
                        {% endif %}

                        {% with id=quests[0].id, qsId=quests[1].questId, accepted=accepted, completed=completed,
                        usersaccepted=usersaccepted, userscompleted=userscompleted %}
                        {% include "base/acceptButton.html" %}
                        {% endwith %}

                    </div>

                </div>

                <div class="col-sm-1 col-sm-push-7 col-md-1 col-md-push-7">
                    {% include "base/button.html" %}

                </div>
            </div>
            <div class="commentsSection">
                <h1> Comments </h1>
                <!--Comment box here-->
                <form action="{{url_for('questComment')}}" method="post">
                    {{ form.description(class_="commentsformformat") }}

                    {{ form.questId() }}
                    {{ form.userId() }}
                    {{ form.is_creator() }}

                    <!--submit comment-->
                    <br>{{ form.submit() }}<br>
                </form>
                <hr>
                {% for row in comments %}
                <div class="space">
                    <div class="'comments_header">{{row[1].username}} [level {{row[2].level}}]
                    </div>
                    <br>

                    <div class="'comments_description">{{row[0].description}}
                    </div>
                </div>
                {% endfor %}

            </div>


        </div>

        <!--</div>-->

    </div>
    <!-- END topbar-page -->

</div>
<!-- END topbar-wrapper -->

</body>
</html>