.inlineblock{
display: inline-block;
}

.line {
margin-left: 100px;
}

/*avatar grids
*/

.grid-container {
  display: grid;
  grid-template: auto / auto auto auto auto;
  grid-gap: 10px;
  background-color: #4e5359;
  padding: 10px;

}

.grid-container > div {
  background-color: #F5F5F5;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

}

.avatartext{
font-family:Oswald;
  font-size:28px;
}

.avatardesctext{
font-family:Oswald;
  font-size:16px;
}

.avatarbutton {
    background-color: #FF8927;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display:block;
    width: 128px;
    border-radius: 8px;
    font-family: Oswald;
    font-size: 16px;
    font-weight: bold;
    margin: 4px auto;
    cursor: pointer;
}

.avatarbutton:hover {
    color: black;
}


/*Forms
*/

.forms {
 padding-left: 125px;
}


/*comments section
*/
.commentsSection {
display: block;
}

.space {
  display: block;
  width: 500px;
  padding: 20px;
  margin: 10px 10px 10px 100px;
  background-color: #F5B37C;
  border: 1px solid black;
}

.commentslabelformat {
    width:150px;
    display:block;
}

.commentsformformat {
    width:500px;
    height:150px;
    display:block;
    vertical-align:top;
}

.comments_header {
    font-weight: bold;
}

.comments_description {
}

.username {
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-family: Oswald;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    }
/*forms here
*/
.forms {
 padding-left: 125px;
}

.form-style {
width:25%;
}

.form_login{
padding-left:125px
}

.form_login-style{
width:25%;
}





/* FAQ Page
*/

.cd-faq {
  width: 90%;
  margin: 2em auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.cd-faq:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 768px) {
  .cd-faq {
    position: relative;
    margin: 2em;
    box-shadow: none;
  }

  .cd-faq > * {
    vertical-align:middle;
}

.cd-faq-categories a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  padding: 0 28px 0 16px;
  background-color: #4e5359;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  white-space: nowrap;
  border-bottom: 1px solid #555b61;
  text-overflow: ellipsis;
}

.cd-faq .active{
background-color: #F78536;
}


.cd-faq-categories a::before, .cd-faq-categories a::after {
  /* plus icon on the right */
  position: absolute;
  top: 50%;
  right: 16px;
  display: inline-block;
  height: 1px;
  width: 10px;
  background-color: #7f868e;
}
.cd-faq-categories a::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.cd-faq-categories li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 768px) {
  .cd-faq-categories {
    width: 20%;
    float: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  }
  .cd-faq-categories a {
    font-size: 13px;
    font-weight: 600;
    padding: 0 24px;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s;
  }
  .cd-faq-categories a::before, .cd-faq-categories a::after {
    display: none;
  }
  .no-touch .cd-faq-categories a:hover {
  color: #FFFFFF;
    background: #F78536;
  }
  .no-js .cd-faq-categories {
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-faq-categories {
    display:inline-block;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 2;
    padding:0px;
    margin:0px;
  }
  .cd-faq-categories a::before {
    /* decorative rectangle on the left visible for the selected item */
    display: block;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #FFA357;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .cd-faq-categories .selected {
    background: #42464b !important;
  }
  .cd-faq-categories .selected::before {
    opacity: 1;
  }
  .cd-faq-categories.is-fixed {
    /* top and left value assigned in jQuery */
    position: fixed;
  }
  .no-js .cd-faq-categories {
    position: relative;
  }
}

.cd-faq-items {
  position: fixed;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  background: #ffffff;
  padding: 0 5% 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) translateX(100%);
  -moz-transform: translateZ(0) translateX(100%);
  -ms-transform: translateZ(0) translateX(100%);
  -o-transform: translateZ(0) translateX(100%);
  transform: translateZ(0) translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}
.cd-faq-items.slide-in {
  -webkit-transform: translateZ(0) translateX(0%);
  -moz-transform: translateZ(0) translateX(0%);
  -ms-transform: translateZ(0) translateX(0%);
  -o-transform: translateZ(0) translateX(0%);
  transform: translateZ(0) translateX(0%);
}
.no-js .cd-faq-items {
  position: static;
  height: auto;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (min-width: 768px) {
  .cd-faq-items {
    position: static;
    height: auto;
    width: 78%;
    float: right;
    overflow: visible;
    -webkit-transform: translateZ(0) translateX(0);
    -moz-transform: translateZ(0) translateX(0);
    -ms-transform: translateZ(0) translateX(0);
    -o-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    padding: 0;
    background: transparent;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-faq-items {
    float: none;
    width: 100%;
    padding-left: 220px;
  }
  .no-js .cd-faq-items {
    padding-left: 0;
  }
}

.cd-close-panel {
  position: fixed;
  top: 5px;
  right: -100%;
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  transition: right 0.4s;
}
.cd-close-panel::before, .cd-close-panel::after {
  /* close icon in CSS */
  position: absolute;
  top: 16px;
  left: 12px;
  display: inline-block;
  height: 3px;
  width: 18px;
  background: #6c7d8e;
}
.cd-close-panel::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-close-panel::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-close-panel.move-left {
  right: 2%;
}
@media only screen and (min-width: 768px) {
  .cd-close-panel {
    display: none;
  }
}

.cd-faq-group .cd-faq-title {
  background: transparent;
  box-shadow: none;
  margin: 1em 0;
}
.no-touch .cd-faq-group .cd-faq-title:hover {
  box-shadow: none;
}
.cd-faq-group .cd-faq-title h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #bbbbc7;

}
.no-js .cd-faq-group {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-faq-group {
    /* all groups visible */
    display: inline-block;
    padding: 0px 20px;
  }
  .cd-faq-group > li {
    background: #ffffff;
    margin-bottom: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }
  .no-touch .cd-faq-group > li:hover {
    box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
  }
  .cd-faq-group .cd-faq-title {
    margin: 2em 0 1em;
  }
  .cd-faq-group:first-child .cd-faq-title {
    margin-top: 0;
  }
}

.cd-faq-trigger {
  position: relative;
  display: block;
  margin: 1.6em 0 .4em;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-faq-trigger {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 24px 24px;
  }
  .cd-faq-trigger::before, .cd-faq-trigger::after {
    /* arrow icon on the right */
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 13px;
    background: #cfdca0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .cd-faq-trigger::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 32px;
  }
  .cd-faq-trigger::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.cd-faq-content p {
  font-size: 20px;
  line-height: 1.4;
  color: #6c7d8e;
}
@media only screen and (min-width: 768px) {
  .cd-faq-content {
    display: none;
    padding: 0 24px 30px;
    max-width: 800px;
  }
  .cd-faq-content p {
    line-height: 1.6;
  }
  .no-js .cd-faq-content {
    display: block;
  }
}



/* next
*/


.post{
    background:#F5B37C;
    width: 500px;
    margin: 10px;
    padding: 20px;
}


.nav-header {
  position: relative;
  float: left;
  width: 100%;
}

.nav-one{
    float: left;
    padding-top: 0px;
    width: 100%;
    display: block;
}

.nav-one-child{

    float: left;
    height: 50px;
    width: auto;
    display: inline-block;
}

.nav-one-child2{

    float: left;
    height: 50px;
    padding-left:350px;
    display: inline-block;
}

.nav-one-child3{

    float: right;
    height: 50px;
    display: inline-block;
}

#searchBar {
    align: center;
    padding-top: 20px;
    padding-bottom:0px;
}



.nav-one-child img{
    padding: 10px;
}


.nav-two{
    float: left;
    width: 100%;
    display: block;
    background: #333333;
    padding: 0px;
}

.formsbutton {
height:120px;
margin-left:50px;
}


.signupbutton {
    background-color: #FF8927;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-family: Oswald;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.signupbuttonhome {
    background-color: #FF8927;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-family: Oswald;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px 2px 280px;
    cursor: pointer;
}

.signupbutton:hover {
    color: black;
}

.loginbutton {
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-family: Oswald;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    }

.questbutton {
    width:125px;
    height:120px;
    background-color: #FF8927;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:0px;
}

.questbutton:hover {
    color: black;
}
.seekbutton {
    width:125px;
    height:120px;
    background-color: #FF8927;
    border: none;
    color: white;
    padding: 20px 15px 5px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:0px;
}

.seekbutton:hover {
    color: black;
}
.detailheader {
    width:150px;
    display:inline-block;
    color: #f36401;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 30px;
    text-align: left;
}

.detailsubheader {
   width:150px;
    display:inline-block;
    color: #f36401;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 20px;
    text-align: left;
}

.pleaselogin{
    width:100%;
    display:inline-block;
}

.formlabelformat {
    width:150px;
    display:inline-block;

    }

.profile {
    display:inline-block;
    }

.profile .img {
    display:inline-block;
    }
.formtitleformat{
    width:150px;
    display:inline-block;
    font-weight:500;
}

.formfieldformat {
    width:25%;
    display:inline-block;
    vertical-align:middle;
    margin-bottom: 10px;


}

.formbigfieldformat {
    width:350px;
    height:150px;
    display:inline-block;
    vertical-align:top;
    font-weight:500;
    resize: none;
}

.formbutton {
    margin-left:100px;
    background-color: #FF8927;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-family: Oswald;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


.formautofield {
    width:150px;
    height:auto;
    display:inline-block;
    vertical-align:top;
    font-weight: 500;
}

.formnamelabelformat {
    max-width:50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
}

/* =======================================================
* ======================================================= */


@font-face {
  font-family: 'font1';
  src: url("fonts.googleapis.com/css?family=Oswald");
  font-weight: normal;
  font-style: normal;
}

body {
      font-family: "Oswald";
  line-height: 1.6;
  font-size: 16px;
  background: #F5F5F5;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
}
body.topbar-offcanvas {
  overflow: hidden;
}

a {
  color: #F78536;
  -webkit-transition: 0.5s, ease;
  -o-transition: 0.5s, ease;
  transition: 0.5s, ease;
}
a:hover {
  text-decoration: none;
  color: #F78536;
}

p, ul, ol {
  margin-bottom: 1.5em;
  font-size: 16px;
  color: #848484;
  /*
change font here
*/
  font-family: Oswald;
  /*
  font-family: "Open Sans", Arial, sans-serif;
  */
}

h1{
 color: #FF8927;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin-left:80px;
  text-align: left;
}

h2, h3, h4, h5{
  color: #5a5a5a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 10px 0;
  text-align: left;
}

h6{
color: #5a5a5a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 10px 0;
  text-align: center;
}
h7{
color: #5a5a5a;
  font-family:Oswald;
  font-size:14px;
  font-weight: 400;
  margin: 0 0 30px 0;
  text-align: left;}
}

figure {
  margin-bottom: 2em;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #F78536;
}

::-moz-selection {
  color: #fcfcfc;
  background: #F78536;
}

::selection {
  color: #fcfcfc;
  background: #F78536;
}

#topbar-header {
  position: relative;
  margin-bottom: 0;
  z-index: 9999999;
}

.stuck {
  position: fixed !important;
  top: 0 !important;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.header-top {
  padding: 10px 0;
  background: #F78536;
}
.header-top .topbar-link a {
  margin-left: 10px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
.header-top .topbar-link a:first-child {
  margin-left: 0;
}
.header-top .topbar-link a:hover {
  color: white !important;
}
@media screen and (max-width: 768px) {
  .header-top .topbar-link {
    text-align: center;
  }
}
.header-top .topbar-social a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  margin-right: 15px;
  position: relative;
  -webkit-transition: 0.5s, ease-in-out;
  -o-transition: 0.5s, ease-in-out;
  transition: 0.5s, ease-in-out;
}
.header-top .topbar-social a:last-child {
  margin-right: 0;
}
.header-top .topbar-social a:hover, .header-top .topbar-social a:focus, .header-top .topbar-social a:active {
  text-decoration: none;
  color: white !important;
}
.header-top .topbar-social a:hover i, .header-top .topbar-social a:focus i, .header-top .topbar-social a:active i {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
@media screen and (max-width: 768px) {
  .header-top .topbar-social {
    text-align: center !important;
  }
}


.topbar-cover2{
  position: relative;
  height: 1000px;

}

/*
background image
*/
.topbar-cover{
  background: url(../images/background/HomeCompass.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.topbar-cover,
.topbar-hero {
  position: relative;
  height: 1000px;

}

/*
@media screen and (max-width: 768px) {
  .topbar-cover,
  .topbar-hero {
    height: 700px;
  }
}
*/
.topbar-cover .topbar-overlay,
.topbar-hero .topbar-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  /*
  background: rgba(255, 62, 28, 0.5);
  background: -moz-linear-gradient(left, rgba(255, 62, 28, 0.5) 0%, rgba(255, 140, 0, 0.5) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 62, 28, 0.5)), color-stop(100%, rgba(255, 140, 0, 0.5)));
  background: -webkit-linear-gradient(left, rgba(255, 62, 28, 0.5) 0%, rgba(255, 140, 0, 0.5) 100%);
  background: -o-linear-gradient(left, rgba(255, 62, 28, 0.5) 0%, rgba(255, 140, 0, 0.5) 100%);
  background: -ms-linear-gradient(left, rgba(255, 62, 28, 0.5) 0%, rgba(255, 140, 0, 0.5) 100%);
  background: linear-gradient(to right, rgba(255, 62, 28, 0.5) 0%, rgba(255, 140, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3e1c', endColorstr='#ff8c00', GradientType=1 );
    */
}

.topbar-cover {
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 768px) {
  .topbar-cover {
    heifght: inherit;
    padding: 3em 0;
  }
}
.topbar-cover .btn {
  padding: 1em 2em;
  opacity: .9;
}
.topbar-cover.topbar-cover_2 {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .topbar-cover.topbar-cover_2 {
    heifght: inherit;
    padding: 3em 0;
  }
}
.topbar-cover .desc {
  top: 20%;
  position: absolute;
  width: 100%;
  margin-top: -80px;
  z-index: 2;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .topbar-cover .desc {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.topbar-cover .desc h2 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 400 !important;
}
@media screen and (max-width: 768px) {
  .topbar-cover .desc h2 {
    font-size: 40px;
  }
}


.topbar-cover .desc h6 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 400 !important;
}
@media screen and (max-width: 768px) {
  .topbar-cover .desc h6 {
    font-size: 40px;
  }
}

.topbar-cover .desc h3 {
  color: #fff;
}
.topbar-cover .desc p {
  display: block;
  margin-bottom: 30px;
  font-size: 16px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.7);
}
.topbar-cover .desc p a {
  color: #fff;
}
.topbar-cover .desc p a:hover, .topbar-cover .desc p a:focus {
  color: #fff !important;
}
.topbar-cover .desc p a:hover.btn, .topbar-cover .desc p a:focus.btn {
  border: 2px solid #fff !important;
  background: transparent !important;
}
.topbar-cover .desc p a.topbar-site-name {
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.topbar-cover .desc .join {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .topbar-cover .desc .desc2 {
    display: none;
  }
}

/* Superfish Override Menu */

/*** ESSENTIAL STYLES ***/
.topbar-menu, .topbar-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.topbar-menu li {
	position: relative;
}
.topbar-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	right: 0;

	z-index: 99;
}
.topbar-menu > li {
	float: left;
}
.topbar-menu li:hover > ul,
.topbar-menu li.sfHover > ul {
	display: block;
}

.topbar-menu a {
	display: block;
	position: relative;
}
.topbar-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.topbar-menu {
	float: left;
	margin-bottom: 1em;
}
.topbar-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.topbar-menu a {
	border-left: 1px solid #fff;
	border-top: 1px solid #dFeEFF; /* fallback colour must use full shorthand */
	border-top: 1px solid rgba(255,255,255,.5);
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.topbar-menu a {
	color: #13a;
}
.topbar-menu li {
	background: #BDD2FF;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.topbar-menu ul li {
	background: #F78536;
}
.topbar-menu ul ul li {
	background: #F78536;
}
.topbar-menu li:hover,
.topbar-menu li.sfHover {
	background: #F78536;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

.topbar-menu {
  margin: 0 0 0 0 !important;
}

.topbar-menu {
  float: left;
}

.topbar-menu ul {
  box-shadow: none;
  border: transparent;
  min-width: 12em;
  *width: 12em;
}

.topbar-menu a {
  color: #FFFFFF;
  padding: 0.25em 1em !important;
  font-weight: normal;
  border-left: none;
  border-top: none;
  border-top: none;
  text-decoration: none;
  zoom: 1;
  font-size: 23px;
  border-bottom: none !important;
  font-weight: bold;
}
.topbar-menu a:hover, .topbar-menu a:focus {
  color: #000000 !important;
}

.topbar-menu li.active a:hover, .topbar-menu li.active a:focus {
  color: #F78536;
}

.topbar-menu li,
.topbar-menu ul li,
.topbar-menu ul ul li,
.topbar-menu li:hover,
.topbar-menu li.sfHover {
  background: transparent;
}

.topbar-menu ul li a,
.topbar-menu ul ul li a {
  text-transform: none;
  padding: 0.2em 1em !important;
  letter-spacing: 1px;
  font-size: 14px !important;
}

.topbar-menu li:hover a,
.topbar-menu li.sfHover a,
.topbar-menu ul li:hover a,
.topbar-menu ul li.sfHover a,
.topbar-menu li.active a {
  color: #FFFFFF;
  background: #FFA357;
}

/*here
*/

#topbar-header-section {
  padding: 0;
  position: relative;
  left: 0;
  width: 100%;
  z-index: 1022;
  background: #fff;
}


#topbar-logo {
  position: relative;
  z-index: 2;
  font-size: 28px;
  text-transform: uppercase;
  margin-top: 35px;
  font-weight: 700;
  float: left;
  padding-left: 40px;
}
#topbar-logo i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #F78536;
  background: rgba(0, 0, 0, 0.06);
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#topbar-logo a {
  color: #F78536;
}
#topbar-logo a:hover, #topbar-logo a:focus {
  color: #F78536 !important;
}

#topbar-menu-wrap {
  position: relative;
  z-index: 2;
  display: block;
  float: right;
  margin-top: 15px;
}
#topbar-menu-wrap .topbar-menu a {
  padding: 1em .75em;
}

#topbar-primary-menu > li > ul li.active > a {
  color: #F78536 !important;
}

/*
change font here
*/
#topbar-primary-menu > li > .sf-with-ul:after {
  border: none !important;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: -0px;
  top: 50%;
  font-size: 12px;
  margin-top: -7px;
  content: "\e922";
  color: rgba(0, 0, 0, 0.5);
}
#topbar-primary-menu > li > ul li {
  position: relative;
}
#topbar-primary-menu > li > ul li > .sf-with-ul:after {
  border: none !important;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: 10px;
  top: 20px;
  font-size: 12px;
  content: "\e924";
  color: rgba(0, 0, 0, 0.5);
}

#topbar-primary-menu .topbar-sub-menu {
  padding: 10px 7px 10px;
  background: #fff;
  left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
#topbar-primary-menu .topbar-sub-menu > li > .topbar-sub-menu {
  left: 100%;
}

#topbar-primary-menu .topbar-sub-menu:before {
  position: absolute;
  top: -9px;
  left: 20px;
  width: 0;
  height: 0;
  content: '';
}

#topbar-primary-menu .topbar-sub-menu:after {
  position: absolute;
  top: -8px;
  left: 21px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
  content: '';
}

#topbar-primary-menu .topbar-sub-menu .topbar-sub-menu:before {
  top: 6px;
  left: 100%;
}

#topbar-primary-menu .topbar-sub-menu .topbar-sub-menu:after {
  top: 7px;
  right: 100%;
  border: none !important;
}

.site-header.has-image #primary-menu .sub-menu {
  border-color: #ebebeb;
  -webkit-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  -ms-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  -o-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
}
.site-header.has-image #primary-menu .sub-menu:before {
  display: none;
}

#topbar-primary-menu .topbar-sub-menu a {
  letter-spacing: 0;
  padding: 0 15px;
  font-size: 18px;
  line-height: 34px;
  color: #575757 !important;
  text-transform: none;
  background: none;
}
#topbar-primary-menu .topbar-sub-menu a:hover {
  color: #F78536 !important;
}

.tabulation {
  width: 100%;
  float: left;
  margin-top: -7em;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  -ms-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  -o-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
}
.tabulation label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .tabulation label {
    width: 40%;
  }
}
.tabulation input[type="text"] {
  background: rgba(0, 0, 0, 0.05);
  border: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #F78536 !important;
}
.tabulation input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #F78536 !important;
}
.tabulation input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #F78536 !important;
}
.tabulation input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #F78536 !important;
}
.tabulation input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #F78536 !important;
}
@media screen and (max-width: 480px) {
  .tabulation input[type="text"] {
    width: 55%;
    float: right;
  }
}
@media screen and (max-width: 480px) {
  .tabulation .cs-select {
    width: 55%;
    float: right;
  }
}

.tab-content {
  padding: 30px;
}
.tab-content .btn {
  border: 1px solid red !important;
}

.nav-tabs {
  border: none;
}
.nav-tabs a {
  border: none !important;
  font-weight: bold;
  padding: 15px 20px !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
@media screen and (max-width: 768px) {
  .nav-tabs a {
    font-weight: normal;
    font-size: 13px;
    padding: 15px 10px !important;
  }
}
.nav-tabs .active a {
  border: none !important;
  background: #F78536 !important;
  color: #fff !important;
  font-weight: bold;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.nav-tabs:hover a, .nav-tabs:focus a {
  border: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.mt {
  margin-bottom: 20px;
}

div.cs-select span {
  padding: 10px 10px;
}

.cs-skin-border {
  font-size: 16px;
  color: #fff;
}
@media screen and (max-width: 829px) {
  .cs-skin-border {
    max-width: 829px !important;
  }
}
@media screen and (max-width: 30em) {
  .cs-skin-border {
    font-size: 16px;
  }
}
.cs-skin-border span {
  font-size: 13px;
}
.cs-skin-border span:hover {
  background: rgba(0, 0, 0, 0.05) !important;
}
.cs-skin-border > span {
  border: transparent;
  background: rgba(0, 0, 0, 0.05);
  color: #F78536;
}
.cs-skin-border > span::after {
  font-size: 14px !important;
  content: '\e94d' !important;
  font-family: "icomoon";
}
.cs-skin-border .cs-selected > span::after {
  font-size: 14px !important;
}

.cs-skin-border.cs-active > span {
  background: rgba(0, 0, 0, 0.05) !important;
  color: #F78536;
}

.cs-select .cs-options {
  -webkit-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  -ms-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  -o-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
}

#topbar-work-section,
#topbar-car,
#topbar-blog-section,
#topbar-features,
#topbar-tours,
#topbar-testimonial,
.topbar-content-section {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #topbar-work-section,
  #topbar-car,
  #topbar-blog-section,
  #topbar-features,
  #topbar-tours,
  #topbar-testimonial,
  .topbar-content-section {
    padding: 4em 0;
  }
}

.topbar-section-gray {
  background: rgba(0, 0, 0, 0.04);
}

.heading-section {
  padding-bottom: 1em;
  margin-bottom: 5em;
}
.heading-section:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  height: 2px;
  background: #F78536;
}
.heading-section h3 {
  font-size: 40px;
  font-weight: 400;
  position: relative;
}
.heading-section p {
  font-size: 20px;
}

.heading-title {
  font-size: 40px;
  margin-bottom: 1.5em;
}

.topbar-tours {
  margin-bottom: 30px;
}
.topbar-tours > div {
  display: block;
  color: #000;
  position: relative;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.topbar-tours > div img {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.topbar-tours > div:after {
  opacity: 1;
  visibility: visible;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 8;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.topbar-tours > div .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  z-index: 12;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.topbar-tours > div .desc h3 {
  color: #fff;
  margin: 0;
  padding: 0;
  opacity: 1;
  font-size: 30px;
  font-weight: 400;
  visibility: visible;
  margin-bottom: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.topbar-tours > div .desc span {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 5px;
}
.topbar-tours > div .desc .price {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.topbar-tours > div .desc .btn {
  opacity: 1;
  border: 2px solid #fff !important;
  color: #fff !important;
  letter-spacing: 1px !important;
  font-weight: 400 !important;
}
.topbar-tours > div .desc .btn:hover, .topbar-tours > div .desc .btn:focus, .topbar-tours > div .desc .btn:active {
  border: 2px solid #F78536 !important;
  background: #F78536 !important;
  color: #fff !important;
}
.topbar-tours > div:hover {
  -webkit-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
}
.topbar-tours > div:hover:after {
  opacity: 1;
  visibility: visible;
  -webkit-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  -o-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .topbar-tours > div:hover:after {
    opacity: 0;
    visibility: hidden;
  }
}
.topbar-tours > div:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .topbar-tours > div:hover img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.flight-book {
  width: 100%;
  float: left;
  margin-bottom: 1px;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flight-book .plane-name {
  width: 40%;
  float: left;
  padding: 6px 20px;
  background: #F78536;
}
.flight-book .plane-name .p-flight {
  font-size: 18px;
  color: #fff;
}
.flight-book .desc {
  width: 60%;
  float: right;
  background: #00AD7C;
  padding: 6px 20px;
}
.flight-book .desc .left {
  float: left;
}
.flight-book .desc h4, .flight-book .desc span {
  color: #fff;
}
.flight-book .desc h4 {
  margin-bottom: 0;
}
.flight-book .desc .right {
  float: right;
  font-size: 25px;
}
.flight-book .desc .right i {
  font-weight: 300;
}
.flight-book .desc .right .price {
  font-weight: 400;
}

#topbar-car .car {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  float: left;
  margin-bottom: 30px;
}
#topbar-car .car .one-4 {
  width: 40%;
  float: left;
  background: #F78536;
  padding: 30px;
}
#topbar-car .car .one-4 h3, #topbar-car .car .one-4 span {
  color: #fff;
}
#topbar-car .car .one-4 span {
  display: block;
  font-weight: 400;
  font-size: 20px;
}
#topbar-car .car .one-4 small {
  font-size: 14px;
}
#topbar-car .car .one-1 {
  width: 60%;
  float: right;
  height: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature-left {
  float: left;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}
.feature-left .icon {
  float: left;
  text-align: center;
  width: 15%;
}
@media screen and (max-width: 992px) {
  .feature-left .icon {
    width: 10%;
  }
}
@media screen and (max-width: 768px) {
  .feature-left .icon {
    width: 15%;
  }
}
.feature-left .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  color: #F78536;
}
.feature-left .feature-copy {
  float: right;
  width: 80%;
}
@media screen and (max-width: 992px) {
  .feature-left .feature-copy {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .feature-left .feature-copy {
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  .feature-left .feature-copy {
    width: 80%;
  }
}
.feature-left .feature-copy h3 {
  font-size: 18px;
  color: #1a1a1a;
  margin-bottom: 10px;
}
.feature-left .feature-copy p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 10px;
}

#topbar-destination {
  width: 100%;
  padding: 0;
  margin: 0;
}

#topbar-destination-list {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}
#topbar-destination-list li {
  display: table;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 220px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  clear: left;
  position: relative;
}
@media screen and (max-width: 480px) {
  #topbar-destination-list li {
    margin-left: 0;
  }
}
#topbar-destination-list li .title-bg {
  min-height: 220px;
  padding: 2em;
  position: relative;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background: #00AD7C;
  z-index: 12;
}
#topbar-destination-list li .title-bg h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 40px;
}
#topbar-destination-list li .title-bg span {
  text-transform: uppercase;
  letter-spacing: 2px;
}
#topbar-destination-list li .title-bg span a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid #fff;
  padding: 5px 7px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  #topbar-destination-list li .title-bg h2 {
    font-size: 24px;
  }
}
#topbar-destination-list li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 8;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#topbar-destination-list li > a {
  min-height: 220px;
  padding: 2em;
  position: relative;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  z-index: 12;
}
#topbar-destination-list li > a:after {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  content: "";
  border: 2px solid rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#topbar-destination-list li > a .case-studies-summary {
  width: auto;
}
@media screen and (max-width: 768px) {
  #topbar-destination-list li > a .case-studies-summary {
    bottom: 1em;
    left: 1em;
    right: 1em;
  }
}
#topbar-destination-list li > a .case-studies-summary span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
#topbar-destination-list li > a .case-studies-summary h2 {
  color: #fff;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
@media screen and (max-width: 768px) {
  #topbar-destination-list li > a .case-studies-summary h2 {
    font-size: 24px;
  }
}
#topbar-destination-list li:hover:after {
  -webkit-box-shadow: inset 0px 0px 91px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 91px 0px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: inset 0px 0px 91px 0px rgba(0, 0, 0, 0.75);
  -o-box-shadow: inset 0px 0px 91px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 91px 0px rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.3);
}
#topbar-destination-list li:hover > a:after {
  opacity: 1;
}
#topbar-destination-list li:hover > a .case-studies-summary h2 {
  margin-top: -5px;
}
#topbar-destination-list li.two-third {
  width: 65.6%;
}
@media screen and (max-width: 768px) {
  #topbar-destination-list li.two-third {
    width: 49%;
  }
}
@media screen and (max-width: 480px) {
  #topbar-destination-list li.two-third {
    width: 100%;
  }
}
#topbar-destination-list li.one-third {
  width: 32.3%;
}
@media screen and (max-width: 768px) {
  #topbar-destination-list li.one-third {
    width: 49%;
  }
}
@media screen and (max-width: 480px) {
  #topbar-destination-list li.one-third {
    width: 100%;
  }
}
#topbar-destination-list li.one-forth {
  width: 25%;
}
@media screen and (max-width: 768px) {
  #topbar-destination-list li.one-forth {
    width: 49%;
  }
}
@media screen and (max-width: 480px) {
  #topbar-destination-list li.one-forth {
    width: 100%;
  }
}
#topbar-destination-list li.one-half {
  width: 50%;
}
@media screen and (max-width: 480px) {
  #topbar-destination-list li.one-half {
    width: 100%;
  }
}

#topbar-testimonial {
  position: relative;
  background: #00AD7C;
}
#topbar-testimonial .topbar-heading h2 {
  color: white;
}
#topbar-testimonial .box-testimony {
  margin-bottom: 2em;
  float: left;
}
#topbar-testimonial .box-testimony a {
  color: rgba(255, 255, 255, 0.5);
}
#topbar-testimonial .box-testimony a:hover, #topbar-testimonial .box-testimony a:focus, #topbar-testimonial .box-testimony a:active {
  color: white;
  text-decoration: none;
}
#topbar-testimonial .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 40px;
  background: #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#topbar-testimonial .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 15px solid black;
  border-top-color: #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#topbar-testimonial .box-testimony blockquote .quote {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 0;
  display: table;
  color: #fff;
  width: 56px;
  height: 56px;
  margin-top: -30px;
  background: #00AD7C;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#topbar-testimonial .box-testimony blockquote .quote > span {
  display: table-cell;
  vertical-align: middle;
}
#topbar-testimonial .box-testimony blockquote p {
  letter-spacing: 1px;
}
#topbar-testimonial .box-testimony .author {
  line-height: 20px;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}
#topbar-testimonial .box-testimony .author .subtext {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

#topbar-features {
  padding: 7em 0;
}
#topbar-features .feature-left {
  margin-bottom: 40px;
}
@media screen and (max-width: 992px) {
  #topbar-features .feature-left {
    margin-bottom: 30px;
  }
}
#topbar-features .feature-left .icon i {
  color: #d9d9d9 !important;
}
#topbar-features .feature-left .icon {
  float: left;
  text-align: center;
  width: 15%;
}
@media screen and (max-width: 992px) {
  #topbar-features .feature-left .icon {
    width: 10%;
  }
}
@media screen and (max-width: 768px) {
  #topbar-features .feature-left .icon {
    width: 15%;
  }
}
#topbar-features .feature-left .feature-copy {
  float: right;
  width: 80%;
}
@media screen and (max-width: 992px) {
  #topbar-features .feature-left .feature-copy {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  #topbar-features .feature-left .feature-copy {
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  #topbar-features .feature-left .feature-copy {
    width: 80%;
  }
}
#topbar-features .feature-left h3 {
  font-size: 16px;
  font-weight: 700;
}
#topbar-features .feature-left p {
  font-size: 15px;
}
#topbar-features .feature-left p:last-child {
  margin-bottom: 0;
}

#topbar-services,
#topbar-about,
#topbar-contact {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #topbar-services,
  #topbar-about,
  #topbar-contact {
    padding: 4em 0;
  }
}

#topbar-services .topbar-number {
  font-size: 30px;
  color: #F78536;
  position: relative;
  padding-top: 10px;
  font-style: italic;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#topbar-services .topbar-number:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background: #F78536;
}
#topbar-services .topbar-icon {
  margin-bottom: 30px;
  margin-top: 50px;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
@media screen and (max-width: 768px) {
  #topbar-services .topbar-icon {
    margin-top: 0px;
    float: none;
  }
}
#topbar-services .topbar-icon i {
  font-size: 200px;
  color: #F78536;
}
@media screen and (max-width: 768px) {
  #topbar-services .topbar-icon i {
    font-size: 100px;
  }
}

#topbar-contact .contact-info {
  margin: 0;
  padding: 0;
}
#topbar-contact .contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}
#topbar-contact .contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.3);
}
#topbar-contact .contact-info li a {
  font-weight: 400 !important;
  color: rgba(0, 0, 0, 0.3);
}
#topbar-contact .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 400;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
#topbar-contact .form-control:focus, #topbar-contact .form-control:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
#topbar-contact input[type="text"] {
  height: 50px;
}
#topbar-contact .form-group {
  margin-bottom: 30px;
}

.topbar-testimonial, .topbar-team {
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .topbar-testimonial, .topbar-team {
    border-right: 0;
    margin-bottom: 80px;
  }
}
.topbar-testimonial h2, .topbar-team h2 {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}
.topbar-testimonial figure, .topbar-team figure {
  position: relative;
  top: 0px;
  background-size: cover;
  margin-bottom: 20px;
}
.topbar-testimonial figure img, .topbar-team figure img {
  width: 130px;
  height: 130px;
  border: 10px solid #fff;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.topbar-testimonial > div, .topbar-team > div {
  padding: 30px 30px 0 30px;
}
.topbar-testimonial > div h3, .topbar-team > div h3 {
  margin-bottom: 0;
  font-size: 20px;
  color: #F78536;
}
.topbar-testimonial > div .position, .topbar-team > div .position {
  color: #d9d9d9;
  margin-bottom: 30px;
}
.topbar-testimonial > div,
.topbar-testimonial blockquote, .topbar-team > div,
.topbar-team blockquote {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}
.topbar-testimonial > div p,
.topbar-testimonial blockquote p, .topbar-team > div p,
.topbar-team blockquote p {
  font-size: 16px;
  line-height: 1.5;
  color: #555555;
}
.topbar-testimonial span, .topbar-team span {
  font-style: italic;
  color: #b3b3b3;
}

.topbar-testimonial p .text-mute {
  color: #ccc !important;
}

.topbar-blog {
  margin-bottom: 60px;
}
.topbar-blog a img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .topbar-blog {
    width: 100%;
  }
}
.topbar-blog .blog-text {
  margin-bottom: 30px;
  position: relative;
  background: #fff;
  width: 100%;
  padding: 30px;
  float: right;
  -webkit-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
}
.topbar-blog .blog-text span {
  display: inline-block;
  margin-bottom: 20px;
}
.topbar-blog .blog-text span.posted_by {
  font-style: italic;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
}
.topbar-blog .blog-text span.comment {
  float: right;
}
.topbar-blog .blog-text span.comment a {
  color: rgba(0, 0, 0, 0.3);
}
.topbar-blog .blog-text span.comment a i {
  color: #F78536;
  padding-left: 7px;
}
.topbar-blog .blog-text h3 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.topbar-blog .blog-text h3 a {
  color: rgba(0, 0, 0, 0.6);
}

#topbar-start-project-section {
  padding: 7em 0;
  background: #F64E8B;
}
#topbar-start-project-section h2 {
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  #topbar-start-project-section h2 {
    font-size: 30px;
  }
}
#topbar-start-project-section a:hover, #topbar-start-project-section a:focus, #topbar-start-project-section a:active {
  color: white !important;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.topbar-social-icons > a {
  padding: 4px 10px;
  color: #F78536;
}
.topbar-social-icons > a i {
  font-size: 26px;
}
.topbar-social-icons > a:hover, .topbar-social-icons > a:focus, .topbar-social-icons > a:active {
  text-decoration: none;
  color: #5a5a5a;
}

#footer {
  background: #393e46;
  padding: 60px 0 40px;
}
#footer p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}
#footer p a {
  color: rgba(255, 255, 255, 0.5);
}
#footer p a:hover, #footer p a:active, #footer p a:focus {
  color: rgba(255, 255, 255, 0.9) !important;
}
#footer .topbar-footer-link {
  padding-bottom: 30px;
}
#footer .topbar-footer-link h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}
#footer .topbar-footer-link li, #footer .topbar-footer-link ul {
  padding: 0;
  margin: 0;
}
#footer .topbar-footer-link li {
  list-style: none;
  margin-bottom: 15px;
  line-height: 1.3;
}
#footer .topbar-footer-link li a {
  color: rgba(255, 255, 255, 0.5);
}
#footer .topbar-footer-link li a:hover, #footer .topbar-footer-link li a:active, #footer .topbar-footer-link li a:focus {
  color: #fff !important;
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #F78536;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #F78536;
  color: #fff !important;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}
.btn.btn-outline {
  background: transparent;
  color: #F78536;
  border: 2px solid #F78536 !important;
}
.btn.btn-outline:hover, .btn.btn-outline:focus, .btn.btn-outline:active {
  background: #F78536 !important;
  color: #fff !important;
}

.tab-content .btn {
  letter-spacing: 0;
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
}

.js .animate-box {
  opacity: 0;
}

#topbar-wrapper {
  overflow-x: hidden;
  position: relative;
}

.topbar-offcanvas {
  overflow: hidden;
}
.topbar-offcanvas #topbar-wrapper {
  overflow: hidden !important;
}

#topbar-page {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.topbar-offcanvas #topbar-page {
  -moz-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  transform: translateX(-240px);
}

@media screen and (max-width: 768px) {
  #topbar-menu-wrap {
    display: none;
  }
}

#offcanvas-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: #222;
  right: -240px;
  width: 240px;
  padding: 20px;
  overflow-y: scroll !important;
  display: none;
}
@media screen and (max-width: 768px) {
  #offcanvas-menu {
    display: block;
  }
}
#offcanvas-menu ul {
  padding: 0;
  margin: 0;
}
#offcanvas-menu ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
#offcanvas-menu ul li a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
}
#offcanvas-menu ul li a:hover {
  color: #F78536;
}
#offcanvas-menu ul li > .topbar-sub-menu {
  margin-top: 9px;
  padding-left: 20px;
}
#offcanvas-menu ul li.active > a {
  color: #F78536;
}
#offcanvas-menu ul .topbar-sub-menu {
  display: block !important;
}

.topbar-nav-toggle {
  cursor: pointer;
  text-decoration: none;
}
.topbar-nav-toggle.active i::before, .topbar-nav-toggle.active i::after {
  background: #fff;
}
.topbar-nav-toggle.dark.active i::before, .topbar-nav-toggle.dark.active i::after {
  background: #fff;
}
.topbar-nav-toggle:hover, .topbar-nav-toggle:focus, .topbar-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.topbar-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #fff;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  transition: all .2s ease-out;
}
.topbar-nav-toggle i::before, .topbar-nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.topbar-nav-toggle.dark i {
  position: relative;
  color: #000;
  background: #000;
  transition: all .2s ease-out;
}
.topbar-nav-toggle.dark i::before, .topbar-nav-toggle.dark i::after {
  background: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.topbar-nav-toggle i::before {
  top: -7px;
}

.topbar-nav-toggle i::after {
  bottom: -7px;
}

.topbar-nav-toggle:hover i::before {
  top: -10px;
}

.topbar-nav-toggle:hover i::after {
  bottom: -10px;
}

.topbar-nav-toggle.active i {
  background: transparent;
}

.topbar-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.topbar-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.topbar-nav-toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9999;
  display: block;
  margin: 0 auto;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .topbar-nav-toggle {
    display: block;
    top: 0px;
    margin-top: 2em;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-top-padded-lg {
  padding-top: 7em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-lg {
    padding-top: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-top-padded-md {
  padding-top: 4em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-md {
    padding-top: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.row-top-padded-sm {
  padding-top: 2em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-sm {
    padding-top: 2em;
  }
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.lead {
  line-height: 1.8;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.topbar-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/hourglass.svg) center no-repeat #222222;
}

/*# sourceMappingURL=style.css.map */


/*** ESSENTIAL STYLES ***/
.topbar-menu, .topbar-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.topbar-menu li {
	position: relative;
}
.topbar-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	right: 0;

	z-index: 99;
}
.topbar-menu > li {
	float: left;
}
.topbar-menu li:hover > ul,
.topbar-menu li.sfHover > ul {
	display: block;
}

.topbar-menu a {
	display: block;
	position: relative;
}
.topbar-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.topbar-menu {
	float: left;
	margin-bottom: 1em;
}
.topbar-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.topbar-menu a {
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}

.topbar-menu li {
	background: #333333;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.topbar-menu ul li {
	background: #F78536;
}
.topbar-menu ul ul li {
	background: #F78536;
}
.topbar-menu li:hover,
.topbar-menu li.sfHover {
	background: #CFDEFF;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

