<div class="tag-share">
    <div class="details-tag">

        <!--Quest Creator's View-->
        {% if not current_user.is_authenticated %}<!--1st degree if-->
        <div class="pleaselogin">Please Log In Or Sign Up To Accept Quests or Seeks</div>
        <a href="{{ url_for('login') }} " class="primary-btn">LOG IN</a>
        <a href="{{ url_for('signup') }} " class="primary-btn">SIGN UP</a>

        {% else %}

        <ul>
            {% if current_user.id == id %}<!--2nd degree if-->

            {% if usersaccepted|length > 0 %}

            <!--All users that accepted the quest-->
            <div class="pleaselogin">Select user that completed quest:</div>
            <form action="{{ url_for('complete', id=qsId) }}" method="post">


                {% for row in usersaccepted -%}
                <button class="signupbutton" name="user" type="submit" value="{{ row[0].id }}"/>
                {{ row[0].username}}
                </button>
                {% endfor %}


            </form>

            <br>

            {% endif %}


            <!--Edit quest option-->

            <li>

                <form action="{{ url_for('edit', id=qsId) }}" method="post">

                    <button class="primary-btn" type="submit" value=""/>
                    Edit
                    </button>
                </form>

            </li>

            <li>
                <!--Delete quest option-->
                <form action="{{ url_for('delete', id=qsId) }}" method="post">
                    <button class="primary-btn" type="submit" value=""/>
                    Delete
                    </button>
                </form>
            </li>

            <!--Non Quest Creator's View-->
            {% else %}

            <!--Already accepted quest-->
            {% if accepted == True %}<!--3nd degree if-->

            <!--If already completed quest-->
            {% if completed == True %}<!--4th degree if-->

            {% else %}

            <li>
                <form action="{{ url_for('forfeit', id=qsId) }}" method="post">
                    <button class="primary-btn" type="submit" value=""/>
                    Forfeit
                    </button>
                </form>

            </li>
            {% endif %}<!--end 4th degree if-->

            <!--Not yet accepted quest-->
            {% else %}

            <li>

                <form action="{{ url_for('accept', id=qsId) }}" method="post">
                    <button class="primary-btn" type="submit" value=""/>
                    Accept
                    </button>
                </form>
            </li>


            {% endif %}<!--end 3rd degree if-->
            {% endif %}<!--end 2nd degree if-->

            <li>
                {% if qsId.startswith('Q') %}<!--2nd degree if-->
                <a href="{{ url_for('quest') }}" class="primary-btn">Back</a>
                {% elif qsId.startswith('S') %}
                <a href="{{ url_for('seek') }}" class="primary-btn">Back</a>
            </li>
            {% endif %}<!--end 2nd degree if-->

            {% endif %}<!--end 1st degree if-->

        </ul>


    </div>

</div>


