<div class="nav-item transp-bg">

    <div class="inline-div settings-btn">
        <a href="{{ url_for('forms_quest')}}">Lost an item? Report a Quest.</a>
    </div>
    <div class="inline-div settings-btn">
        <a href="{{ url_for('forms_seek')}}">Found an item? Report a Seek.</a>
    </div>
    <!--<ul>-->
    <!--<li><a href="{{ url_for('forms_quest')}}">Lost an item? Report a Quest here.</a></li>-->
    <!--<li><a href="{{ url_for('forms_seek')}}">Found an item? Report a Seek here.</a></li>-->
    <!--</ul>-->

    <div id="mobile-menu-wrap"></div>

</div>



